@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/mixins";

@import "./base/common";
@import "./base/section";
@import "./base/container";

@import "./components/logo";
@import "./components/button";
@import "./components/modal";

@import "./layout/header";
@import "./layout/movies";
@import "./layout/footer";
