/* ========== Variables ========== */
$main-font: Roboto, sans-serif;
$title-white-theme-color: #000000;
$title-dark-theme-color: #ffffff;
$subtitle-color: #8C8C8C;
$text-white-theme-color: #000000;
$text-dark-theme-color: #ffffff;
$accent-color: #FF6B01;
$error-color: #FF001B;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

/* ========== End Variables ========== */
