<div class="footer">
  <div class="container footer__container">
    <div class="footer__text-container">
      <span class="footer__text footer__text--block"> &copy; 2020 | All Rights Reserved | </span>
      <span class="footer__text"
        >Developed width<svg class="footer__icon" height="13" width="14">
          <use class="footer__icon-heart" href="./images/sprite.svg#favorite"></use>
        </svg>
        by <span class="footer__text footer__text--underline">GoIT Students</span>
      </span>
    </div>
  </div>
</div>
