<div class="backdrop visually-hidden">
  <div class="modal">
    <button class="modal__close-btn" type="button">
      <svg class="img modal__close-icon" width="30" height="30">
        <use href="./images/sprite.svg#close" width="30" height="30"></use>
      </svg>
    </button>

    <div class="modal__img-container">
      <img
        class="img modal__img"
        src="https://images-na.ssl-images-amazon.com/images/I/81qB1pCnBIL._AC_SL1500_.jpg"
        alt="A FISTFUL OF LEAD"
      />
    </div>

    <div class="modal__content-container">
      <h2 class="modal__title">A fistful of lead</h2>
      <ul class="list modal__list">
        <li class="modal__item">
          <h3 class="modal__subtitle">Vote / Votes</h3>
          <span class="modal__number"
            ><span class="modal__number--orange">7.3</span> /
            <span class="modal__number--gray">1260</span></span
          >
        </li>
        <li class="modal__item">
          <h3 class="modal__subtitle">Popularity</h3>
          <span class="modal__number">100.2</span>
        </li>
        <li class="modal__item">
          <h3 class="modal__subtitle">Original Title</h3>
          <span class="modal__text modal__text--uppercase">A fistful of lead</span>
        </li>
        <li class="modal__item">
          <h3 class="modal__subtitle">Genre</h3>
          <span class="modal__text"> Western </span>
        </li>
      </ul>

      <h3 class="modal__description-title">About</h3>
      <p class="modal__description-text">
        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
        the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
        filled with lead... they’ve been double crossed – but by who and how?
      </p>

      <div class="modal__button-container">
        <button class="button modal__button" type="button">Add to wathed</button>
        <button class="button modal__button" type="button">Add to queue</button>
      </div>
    </div>
  </div>
</div>
